*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  /* // -webkit-text-stroke: 0.45px;
  // // or
  // -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  // or
  // text-shadow: #fff 0px 1px 1px; */
}
